@font-face {
  font-family: "NanumGothicBold";
  src: url("../fonts/NanumGothicBold.otf") format("truetype");
}

@font-face {
  font-family: "NanumGothicExtraBold";
  src: url("../fonts/NanumGothicExtraBold.otf") format("truetype");
}
