@media (min-width: 37.5063rem) {
  .item-title-month {
    word-wrap: break-word;
    font-size: 1rem;
    font-family: "NanumGothicExtraBold";
    padding: 0.0625rem 0.0063rem 0.0063rem 0.0063rem;
  }
}
@media (max-width: 37.5rem) {
  .item-title-month {
    word-wrap: break-word;
    font-size: 1rem;
    font-family: "NanumGothicExtraBold";
    padding: 0.0063rem 0.0063rem 0.625rem 0.0063rem;
  }
}
