@media (min-width: 45.0063rem) {
  .item-title-month {
    word-wrap: break-word;
    font-size: 1rem;
    letter-spacing: 0.0125rem;
    padding: 0.25rem 0.0063rem 0.0063rem 0.0063rem;
  }
}
@media (max-width: 45rem) {
  .item-title-month {
    word-wrap: break-word;
    font-size: 1rem;
    letter-spacing: 0.0125rem;
    padding: 0.0063rem 0.0063rem 0.625rem 0.0063rem;
  }
}
