@media (min-width: 37.5063rem) {
  .cont-title-year {
    word-wrap: break-word;
    font-size: 1.125rem;
    font-family: "NanumGothicExtraBold";
    padding: 0.0063rem;
  }
}
@media (max-width: 37.5rem) {
  .cont-title-year {
    word-wrap: break-word;
    font-size: 1.125rem;
    font-family: "NanumGothicExtraBold";
    padding: 0.0063rem 0.0063rem 1rem 0.0063rem;
  }
}
