@media (min-width: 740.1px) {
  .area-conts {
    max-width: 800px;
    list-style: none;
  }
  .wrap-cont {
    padding: 0px 30px 80px 0px;
    display: grid;
    grid-template-columns: 100px 1fr;
  }
}
@media (max-width: 740px) {
  .area-conts {
    max-width: 640px;
    min-width: 370px;
    list-style: none;
  }
  .wrap-cont {
    padding: 0px 30px 80px 0px;
  }
}
