@media (min-width: 740.1px) {
  .wrap-item {
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 60px 1fr;
  }
}
@media (max-width: 740px) {
  .wrap-item {
    padding-bottom: 30px;
  }
}
