@media (max-width: 680px) {
  .area-info-text {
    margin: 10px 10px 10px 14px;
  }
  .info-text {
    word-wrap: break-word;
    font-size: 17px;
    font-weight: 550;
    padding: 10px;
  }
}
@media (min-width: 680px) {
  .area-info-text {
    margin: 10px 10px 10px 1px;
  }
  .info-text {
    word-wrap: break-word;
    font-size: 17px;
    font-weight: 550;
    padding: 10px;
  }
}
