.area-info-title {
  margin: 5px;
  border: 2px solid black;
  background-color: rgb(255, 245, 224);
  border-radius: 10px;
}
.info-title {
  padding: 10px;
  word-wrap: break-word;
  font-size: 19px;
  font-weight: 625;
}
