.area-info-text {
  margin-left: 10px;
  @media (max-width: 689px) {
    margin-top: 5px;
    margin-bottom: 30px;
  }
}

.wrap-info-text {
  margin-bottom: 5px;
  position: relative;
  @media (min-width: 690px) {
    padding: 0px 10px 0px 13px;
    min-height: 44px;
    border-radius: 10px;
    background-color: rgb(190, 255, 247);
  }
}

.info-text {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: 550;
  font-family: "Apple SD Gothic Neo,Malgun Gothic", "맑은 고딕", "sans-serif";
  @media (min-width: 690px) {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
