@media (min-width: 25.0313rem) {
  .wrap-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .wrap-info:not(:last-of-type) {
    padding-bottom: 0.5rem;
  }
  .area-infoes {
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    padding: 0.625rem;
  }
}
@media (max-width: 25rem) {
  .wrap-info:not(:last-of-type) {
    padding-bottom: 0.5rem;
  }
  .area-infoes {
    border: 0.1875rem solid black;
    border-radius: 0.625rem;
    padding: 0.625rem;
  }
}
