@media (min-width: 580.5px) {
  .area-info-text {
    padding: 2px 2px 2px 0px;
  }
  .info-text {
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 550;
    padding: 7px 0.1px 7px 14px;
  }
}
@media (max-width: 580px) {
  .area-info-text {
    padding: 5px 0px 5px 10px;
  }
  .info-text {
    word-wrap: break-word;
    font-size: 15px;
    font-weight: 550;
    padding: 10px;
  }
}
